{
  "extends": ["@antfu"],
  "rules": {
    "@typescript-eslint/quotes": ["error", "double"],
    "@typescript-eslint/comma-dangle": ["error", "never"],
    "comma-dangle": ["error", "never"],
    "yml/quotes": "off"
  }
}
